*{ box-sizing: border-box }


/*** Navbar ***/

.ega-logo {
	height: 45px;
	margin: 0px;
}

.button {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin: 6em 0 0 0;
  padding: 0;
}

.button > a {
  display: inline-block;
  border-radius: 50%;
}

.button > a:hover .right{
  border: 0.3em solid #2C7744;
}

a:hover .right:after {
  border-top: 0.3em solid #2C7744;
  border-right: 0.3em solid #2C7744;
}

.right {
  display: inline-block;
  width: 3em;
  height: 3em;
  border: 0.3em solid #e74c3c;
  border-radius: 50%;
}

.right:after {
  content: '';
  display: inline-block;
  margin-top: .7em;
  margin-left: -0.5em;
  width: 1em;
  height: 1em;
  border-top: 0.3em solid #e74c3c;
  border-right: 0.3em solid #e74c3c;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}