@head-title-color: #6391bf;
@description-color: #000;

*{ box-sizing: border-box }


/*** Navbar ***/

.ega-logo {
	height: 45px;
	margin: 0px;
}

.button {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  margin: 6em 0 0 0;
  padding: 0;
}

.button > a {
  display: inline-block;
  border-radius: 50%;
}

.button > a:hover .right{
  border: 0.3em solid #2C7744;
}

a:hover .right:after {
  border-top: 0.3em solid #2C7744;
  border-right: 0.3em solid #2C7744;
}

.right {
  display: inline-block;
  width: 3em;
  height: 3em;
  border: 0.3em solid #e74c3c;
  border-radius: 50%;
}

.right:after {
  content: '';
  display: inline-block;
  margin-top: .7em;
  margin-left: -0.5em;
  width: 1em;
  height: 1em;
  border-top: 0.3em solid #e74c3c;
  border-right: 0.3em solid #e74c3c;
  -moz-transform: rotate(45deg);
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
}



/** main page **/

.button {
  position: absolute;
  top: 4em;
  margin: 0;
}

.home-page {
  width: 90%;
  margin: 0 auto;
  padding: 0;
  padding-top: 50px;
}

.main-block {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-areas: 
  "news-name ."
  "main-story news-list";
  position: relative;
    .main-story a:hover {
      text-decoration: none;
        h4 { color: @head-title-color; }
    }
    .main-story {
      grid-area: main-story;
      margin: 0;
        a {
          color: @description-color;
        }
        img {
         width: 100%;
         margin: 0 auto;
        }
        .newslist-title {
          width: 25%;
          height: 320px;
          float: left;
          margin: 10px;

        }
        .newslist-description {
         overflow: hidden;
         text-overflow: ellipsis;
         display: -webkit-box;
         line-height: 16px;     
         max-height: 80px;      
         -webkit-line-clamp: 5; 
         -webkit-box-orient: vertical;
      }
        
    }
}

.news-name {
  margin-left: 10px;
}



.main-story { 
  

  a:nth-child(2):hover {
    text-decoration: none;
    p { color: @description-color }
  }
}

.sidenav-list{
  color: black;
  &:hover {
  color: blue
  }
}






