

@head-title-color: #6391bf;
@description-color: #000;
@hamburger-color: #e74c3c;

*{ box-sizing: border-box }


/** hamburger menu **/

.con, .special-con {
   cursor: pointer;
   display: inline-block;
 }

.bar {
   display: block;
   height: 5px;
   width: 50px;
   background: @hamburger-color;
   margin: 10px auto;
 }

.bar {
   -webkit-transition: all .7s ease;
   -moz-transition: all .7s ease;
   -ms-transition: all .7s ease;
   -o-transition: all .7s ease;
   transition: all .7s ease;
 }

.con {
   width: 50px;
   margin: 0 auto;
   -webkit-transition: all .7s ease;
   -moz-transition: all .7s ease;
   -ms-transition: all .7s ease;
   -o-transition: all .7s ease;
   transition: all .7s ease;
 }
 
 .col {
   display: inline-block;
   width: 24%;
   text-align: center;
   height: auto;
   position: relative;
 }
 
 .con:hover {
   padding-left: 15px;
 }

 .con:hover .arrow-top {
   -webkit-transform: rotateZ(45deg) translateY(11px);
   -moz-transform: rotateZ(45deg) translateY(11px);
   -ms-transform: rotateZ(45deg) translateY(11px);
   -o-transform: rotateZ(45deg) translateY(11px);
   transform: rotateZ(45deg) translateY(11px);
   width: 25px;
 }
 
 .con:hover .arrow-middle {
   -webkit-transform: translateX(-15px);
   -moz-transform: translateX(-25px);
   -ms-transform: translateX(-25px);
   -o-transform: translateX(-25px);
   transform: translateX(-20px);
   width: 40px;
  
 }
 
 .con:hover .arrow-bottom {
   -webkit-transform: rotateZ(-45deg) translateY(-11px);
   -moz-transform: rotateZ(-45deg) translateY(-11px);
   -ms-transform: rotateZ(-45deg) translateY(-11px);
   -o-transform: rotateZ(-45deg) translateY(-11px);
   transform: rotateZ(-45deg) translateY(-11px);
   width: 25px;
 }


/** sidenav **/

.sidenav-list{
  color: black;
  &:hover {
  color: blue
  }
}

//* logo *//

.logo {
    bottom: -25px;
    position: absolute;
    width: 200px;
    margin: 0;
    display: inline-block;
    p::first-letter {
      font-family: 'Limelight', cursive;
      font-size: 3rem;
      text-transform: uppercase;
    }
    p {
      font-family: 'Limelight', cursive;
      font-size: 1.75rem;
      text-transform: uppercase;
      display: inline-block;
      color: #000;
    }
    h4 {
      font-family: 'Abhaya Libre', serif;
      font-weight: 700;
      font-size: 2.5rem;
      color: red;
      text-transform: uppercase;
      display: inline-block;
    }
}


/** main page - left **/

.home-page {
  width: 90%;
  margin: 0 auto;
  padding: 0;
}


.main-block {
  display: grid;
  grid-template-columns: 70% 30%;
  grid-template-areas: 
  "news-name ."
  "main-story news-list";
  position: relative;
    .main-story a:hover {
      text-decoration: none;
        h4 { color: @head-title-color; }
    }
    .main-story {
      grid-area: main-story;
      margin: 0;
        a {
          color: @description-color;
        }
        img {
         width: 100%;
         margin: 0 auto;
        }
        .newslist-title {
          width: 30%;
          height: 320px;
          float: left;
          margin: 10px;

        }
        .newslist-description {
         overflow: hidden;
         text-overflow: ellipsis;
         display: -webkit-box;
         line-height: 16px;     
         max-height: 80px;      
         -webkit-line-clamp: 5; 
         -webkit-box-orient: vertical;
      }
        
    }
}

.news-name {
  margin-left: 10px;
}

.news-list {
  grid-area: news-list;

  .news-list-navbar {
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-areas: "trending news-list-images";
    padding: 0;
    height: 25px;
    div:nth-child(1){
      grid-area: trending; 
      height: 25px;
      display: inline-block;
      font-size: 1em;
      padding-top: 5px;
    }

    div:nth-child(2) {
      grid-area: news-list-images;
      display: inline-block;
      position: relative;
      padding-left: 40%;
      height: 25px;
    }

    img {
      height: 20px;
      padding-left: 5px;
      padding-right: 5px;
    }
  }

}

.main-story { 
  a:nth-child(2):hover {
    text-decoration: none;
    p { color: @description-color }
  }
}

.top-trends-list {
  left: 0;

  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  line-height: 16px;     
  max-height: 48px;      
  -webkit-line-clamp: 3; 
  -webkit-box-orient: vertical;
   margin: 10px;
}

.trending {
  font-family: 'Barlow Semi Condensed', sans-serif;
  font-size: 10rem;
  font-weight: bold;
  padding-left: 45px;

}


.loading {
  padding-left: 45px;
}







